.add, .detail{
    margin-top: 3rem;
}
.add-form{
    width: 85%;
    margin: 0 auto;
    background-color: #e7b615;
}
.add-form form, .detail-form form{
    padding: 1rem;
}
.form-group{
    display: block;
    text-align: left;
    margin: .3rem;
}
.form-group label{
    color: white;
    font-weight: 600;
    display: inline-block;
    width: 30%;
    margin-left: 10%;
    text-shadow: 1px 0px 5px rgb(124, 79, 11);

}
.form-group .input-text{
    padding: .3rem;
    width: 44%;
    max-width: 45%;
}
.group-actions{
    margin-top: 1.5rem;
    text-align: center;
}
.group-actions input, .group-actions button{
    padding: .5rem 1rem;
}
.detail-form{
    margin-bottom: 2rem;
    background-color: #888;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}
.detail-form form .form-group label{
    color: #e7b615;
    text-shadow: none;
}
.bookCover{
    width: 20%;
    height: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
@media only screen and (max-width:480px){
    form .form-group label {
        width: 100%;
        margin: .3rem auto;
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
    .form-group .input-text{
        min-width: 75%;
        max-width: 80%;
    }
    .bookCover{
        height: 0;
    }

}