input, button, select{
  outline: none;
}
h2{
  font-size: 2rem;
  color: #32324e;
  text-align: center;
}
.btn{
  border: none;
  margin: .3rem;
  padding: .35rem;
  font-size: .8rem;
  cursor: pointer;
  outline: none;
}
.container{
  max-width: 87%;
  margin: 0 auto;
}
.btn-dark{
  background-color: #4d4d4d;
  color: white;
  transition: all .2s ease-in-out;
}
.btn-dark:hover{
  background-color: #2f363f;
}
.btn-white{
  background-color: #32324e;
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
}
.btn-white:hover{
  background-color: #383c63;
}
.btn-yellow{
  background-color: #ecb500;
  color: rgb(0, 0, 0);
  transition: all .2s ease-in-out;
}
.btn-yellow:hover{
  background-color: #ffc813;
}
.bar{
  padding: .75rem;
  background-color: #e7b615;
  color: rgb(119, 80, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  width: 8rem;
}
.primary-list{
  display: block;
}
.search{
  display: inline-block;
  width: 60%;
  max-width: 60%;
  text-align: center;
}
.search input{
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  outline: none;
  padding: .35rem;
  border: 1px solid #ac8916;
  padding-left: .65rem;
  background-color: white;
  vertical-align: top;
  max-width: 85%;
}

.search img{
  width: .95rem;
  color: #4d4d4d;
  padding: .35rem;
  padding-right: .5rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid #ac8916;
  margin-left: 0;
  outline: none;
  border-left: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  vertical-align: top;
}
@media only screen and (max-width:480px){
  .bar{
    padding: .8rem;
  }
  .logo img{
    width: 4rem;
  }
  .search input{
    max-width: 65%;
  }
}
footer{
  padding: .3rem;
  background-color: #32354e;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}
footer p{
  top: 100vh;
  margin: .3rem;
}